.card{
    width: 400px;
    padding: 0 10px;
    height: 550px;
    background: rgb(6, 6, 46);
    color: white;
    transition: .2s;
}
.card:hover{
background: rgb(6, 6, 46);
transform: scale(.8);

}

.card-body{
    text-align: start;
}
.card-img{
    width: 100%;
    height: 250px;
}
.home-card-button{
    background: orange;
    color: white;
    width: 100%;
}